<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CouponsMapper" >
  <resultMap id="BaseResultMap" type="com.entity.Coupons" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="isAdmin" property="isadmin" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="preferential_money" property="preferentialMoney" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="over_time" property="overTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, isAdmin, product_id, seller_id, preferential_money, add_time, over_time
  </sql>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coupons
    where user_id = #{userId,jdbcType=INTEGER}
		AND over_time > NOW() 
		AND isAdmin = 1
	ORDER BY preferential_money DESC 
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from coupons
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from coupons
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Coupons" >
    insert into coupons (id, user_id, isAdmin, 
      product_id, seller_id, preferential_money, 
      add_time, over_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{isadmin,jdbcType=INTEGER}, 
      #{productId,jdbcType=INTEGER}, #{sellerId,jdbcType=INTEGER}, #{preferentialMoney,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{overTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Coupons" >
    insert into coupons
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isadmin != null" >
        isAdmin,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="preferentialMoney != null" >
        preferential_money,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="overTime != null" >
        over_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="isadmin != null" >
        #{isadmin,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="preferentialMoney != null" >
        #{preferentialMoney,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null" >
        #{overTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Coupons" >
    update coupons
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="isadmin != null" >
        isAdmin = #{isadmin,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="preferentialMoney != null" >
        preferential_money = #{preferentialMoney,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null" >
        over_time = #{overTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Coupons" >
    update coupons
    set user_id = #{userId,jdbcType=INTEGER},
      isAdmin = #{isadmin,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      seller_id = #{sellerId,jdbcType=INTEGER},
      preferential_money = #{preferentialMoney,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      over_time = #{overTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>