<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.SellerAddressMapper" >
  <resultMap id="BaseResultMap" type="com.entity.SellerAddress" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
    <result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, address, seller_id, seller_name
  </sql>

  <!--根据userId查询地址-->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from seller_address where seller_id = #{sellerid}
  </select>

  <!--根据sellerid查询地址-->
  <select id="selectBySellerid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from seller_address where  seller_id = #{sellerid}
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from seller_address
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--根据sellerid删除数据-->
  <delete id="deleteBySellerId" parameterType="java.lang.Integer">
    delete from seller_address where seller_id = #{sellerid}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from seller_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.SellerAddress" >
    insert into seller_address (id, address, seller_id, 
      seller_name)
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{sellerId,jdbcType=INTEGER}, 
      #{sellerName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.SellerAddress" >
    insert into seller_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.SellerAddress" >
    update seller_address
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=INTEGER},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.SellerAddress" >
    update seller_address
    set address = #{address,jdbcType=VARCHAR},
      seller_id = #{sellerId,jdbcType=INTEGER},
      seller_name = #{sellerName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>