<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.VersionMapper">
    <resultMap id="BaseResultMap" type="com.entity.Version">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="version_name" property="versionName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, product_id, product_name, version_name
    </sql>

    <!--通过productid查询版本-->
    <select id="selectVersionByPid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from version
        where product_id = #{productid}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from version
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from version
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.entity.Version">
        insert into version (id, product_id, product_name, version_name)
        values (#{id,jdbcType=INTEGER},
                #{productId,jdbcType=INTEGER},
                #{productName,jdbcType=VARCHAR},
                #{versionName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.entity.Version">
        insert into version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="versionName != null">
                version_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="versionName != null">
                #{versionName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.entity.Version">
        update version
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="versionName != null">
                version_name = #{versionName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.entity.Version">
        update version
        set product_id   = #{productId,jdbcType=INTEGER},
            product_name = #{productName,jdbcType=VARCHAR},
            version_name = #{versionName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>